name: LionTV to FB Live (1 Hour - 720p)

on:
  workflow_dispatch:

jobs:
  capture_and_stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Capture and Stream Directly
        run: |
          # نستخدم FFmpeg لقراءة الرابط مع الـ User-Agent الخاص بتطبيق Lion TV
          # ثم نقوم بالتحويل المباشر إلى فيسبوك بجودة 720p
          ffmpeg -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 \
          -user_agent "com.shadeed.liontv/48 (Linux; U; Android 13; fr_FR; RMX3511; Build/TP1A.220624.014; Cronet/145.0.7582.0)" \
          -i "http://lion20.top:8080/live/0b:51:8d:44:de:6d/2615252014954555/247673.ts" \
          -t 3600 \
          -c:v libx264 -preset superfast -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -s 1280x720 -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -f flv \
          "rtmps://live-api-s.facebook.com:443/rtmp/FB-907604004962838-0-Ab7JD1tTZvD9Mzw-W8JDnYVO"
          
