name: Final Stream HD One Piece

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download and Stream to Facebook
        run: |
          # الرابط المباشر للفيديو
          VIDEO_URL="https://av-f2l-bot.avbotz26.workers.dev/30968?hash=AgADiQ"
          # مفتاح البث الجديد الخاص بك
          STREAM_KEY="FB-908068078249764-0-Ab5nxKwvb1aEoFyiqIF3bpNY"

          # أمر البث مع رفع الجودة وتثبيت التردد
          ffmpeg -re -i "$VIDEO_URL" \
          -vf "scale=1280:720" -c:v libx264 -preset veryfast -b:v 2500k \
          -maxrate 2500k -bufsize 5000k -pix_fmt yuv420p -g 48 \
          -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://live-api-s.facebook.com:80/rtmp/$STREAM_KEY"
