name: IPTV 1 Minute Test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download 1 Minute from IPTV
        run: |
          # سيقوم بسحب 60 ثانية فقط وتحويل الحاوية إلى mp4 لضمان عملها في فيسبوك
          ffmpeg -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 \
          -i "http://front-main.eagle-4k.me:80/live/imadfr_551967/4fWxfRqg/269.ts" \
          -t 60 -c copy test_stream.mp4

      - name: Upload to 0x0.st
        run: |
          echo "--------------------------------------------------"
          echo "تمت العملية بنجاح! انسخ الرابط التالي وضعه في فيسبوك:"
          curl -F "file=@test_stream.mp4" https://0x0.st
          echo "--------------------------------------------------"
