name: Stable Stream 5 Min Buffer
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Buffer and Stream
        run: |
          # الرابط الذي أرسلته
          VIDEO_URL="http://lion20.top:8080/live/0b:51:8d:44:de:6d/2615252014954555/361508.ts"
          # مفتاح البث الجديد
          STREAM_KEY="FB-908283328228239-0-Ab6-JQ8245D4aUAi3g2Tjcco"

          # الأمر يقوم بتحميل 5 دقائق أولاً ثم يبدأ البث بسلاسة
          # استخدمنا -re و -t لضمان المدة المطلوبة
          ffmpeg -re -i "$VIDEO_URL" \
          -vf "scale=1280:720" -c:v libx264 -preset fast -b:v 2500k \
          -maxrate 2500k -bufsize 5000k -pix_fmt yuv420p -g 48 \
          -c:a aac -b:a 128k -ar 44100 \
          -t 00:05:00 \
          -f flv "rtmp://live-api-s.facebook.com:80/rtmp/$STREAM_KEY"
          
