name: Quick Test 1 Min
on:
  workflow_dispatch:

jobs:
  record:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Record 1 Minute HEVC
        run: |
          URL="http://5-host.xyz:8080/live/177716153252/17laOe555B/431637.m3u8"
          ffmpeg -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 -reconnect_delay_max 5 \
          -i "$URL" -t 60 \
          -c:v libx265 -crf 28 -preset fast \
          -c:a copy test_1min.mp4

      - name: Upload Test Video
        uses: actions/upload-artifact@v4
        with:
          name: test-video-file
          path: test_1min.mp4
