name: Fast IPTV to Facebook

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg (Quick)
        # أضفنا -y و --no-install-recommends ليكون التثبيت برقاً
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends ffmpeg

      - name: Download 1 Minute
        run: |
          ffmpeg -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 \
          -user_agent "Mozilla/5.0" \
          -i "http://front-main.eagle-4k.me:80/live/imadfr_551967/4fWxfRqg/269.ts" \
          -t 60 -c copy fb_video.mp4

      - name: Post to Facebook
        run: |
          curl -X POST "https://graph-video.facebook.com/v18.0/me/videos" \
          -F "access_token=EAAYqzXZAr3yQBQn6PUeCtNoy7ZCJTUnl39GZA8lVvWdL1TCBLqSsoFZCzqsua8sLFZClzMq1cmVX7ZCjc1KvNeAGIrdlKhDZCGf627251tXXxSFFPF3D8fayJutZBMZCsn40x4K2lQazCLTX6kOq6O4wxjsorz44i57NjZBXzyrE7rJFF3Coa8FV9QqDjzCL70KJ3UWO4ZClQhgRZB33yKBma4gVfI3CvEDoFY6X69d8" \
          -F "source=@fb_video.mp4" \
          -F "description=Test Upload"
          
