name: Catch Facebook HD Link
on: workflow_dispatch
jobs:
  get_hd:
    runs-on: ubuntu-latest
    steps:
      - name: Extract HD URL
        run: |
          # سنستخدم yt-dlp مع تحديثه لجلب أفضل جودة فيديو مدمجة مع الصوت
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp
          
          # استخراج رابط الـ 720p مباشرة
          yt-dlp -g -f "bestvideo[height<=720]+bestaudio/best[height<=720]" "https://www.facebook.com/gonderen.hakk.nda/videos/788007587069582/"
