name: Get Direct Video Link

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download IPTV Clip
        run: |
          ffmpeg -i "http://front-main.eagle-4k.me:80/live/imadfr_551967/4fWxfRqg/269.ts" \
          -t 60 -c copy video_clip.mp4

      - name: Upload and Get Link
        run: |
          # رفع الفيديو والحصول على رابط مباشر
          echo "URL_RESULT=$(curl --upload-file ./video_clip.mp4 https://transfer.sh/video_clip.mp4)" >> $GITHUB_ENV

      - name: Show the Link
        run: |
          echo "--------------------------------------------------"
          echo "انسخ هذا الرابط وضعه في فيسبوك أو ماسنجر:"
          echo "${{ env.URL_RESULT }}"
          echo "--------------------------------------------------"
