name: Download then Stream HD
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: 1. Download Video File
        run: |
          # تحميل الملف وتسميته video.mp4
          curl -L "https://av-f2l-bot.avbotz26.workers.dev/30968?hash=AgADiQ" -o video.mp4
          echo "تم تحميل الملف بنجاح على سيرفر GitHub!"

      - name: 2. Stream to Facebook
        run: |
          # الآن نبدأ البث من الملف المحمل محلياً لضمان عدم الانقطاع
          # تأكد من استخراج مفتاح بث جديد إذا انتهت صلاحية القديم
          STREAM_KEY="FB-908068078249764-0-Ab5nxKwvb1aEoFyiqIF3bpNY"
          
          ffmpeg -re -i video.mp4 \
          -vf "scale=1280:720" -c:v libx264 -preset fast -b:v 2500k \
          -pix_fmt yuv420p -g 48 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://live-api-s.facebook.com:80/rtmp/$STREAM_KEY"
