name: Get Direct Video Link V2

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download IPTV Clip
        run: |
          ffmpeg -reconnect 1 -reconnect_at_eof 1 -reconnect_streamed 1 \
          -i "http://front-main.eagle-4k.me:80/live/imadfr_551967/4fWxfRqg/269.ts" \
          -t 60 -c copy video_clip.mp4

      - name: Upload to BashUpload
        run: |
          # الرفع إلى سيرفر بديل مستقر
          LINK=$(curl https://bashupload.com/video_clip.mp4 --data-binary @video_clip.mp4)
          echo "--------------------------------------------------"
          echo "تم الرفع بنجاح! انسخ الرابط التالي:"
          echo $LINK
          echo "--------------------------------------------------"
