name: Test Telegram Connection

on:
  workflow_dispatch:

jobs:
  test_send:
    runs-on: ubuntu-latest
    steps:
      - name: Download Small Test Video
        run: |
          # تحميل فيديو تجريبي صغير جداً (3 ميجا)
          curl -L -o test.mp4 "https://www.w3schools.com/html/mov_bbb.mp4"

      - name: Send to Telegram
        run: |
          # محاولة الإرسال لبوتك
          curl -v -F "video=@test.mp4" -F "caption=الاختبار نجح! البوت شغال ✅" \
          "https://api.telegram.org/bot8553237214:AAGnvhfyXa-B5Wkm3g_VQTRVbbr0ShyYM0U/sendVideo?chat_id=6849625315"
