name: Fixed Eagle Stream
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update -qq && sudo apt-get install -y ffmpeg -qq

      - name: Stream to Facebook
        run: |
          # الرابط مصحح (h صغيرة)
          VIDEO_URL="http://front-main.eagle-4k.me:80/live/imadfr_551967/4fWxfRqg/32750.ts"
          
          # مفتاح البث الجديد الخاص بك
          STREAM_KEY="FB-908289544894284-0-Ab7xDyVGOQuosdA6ndKENM3T"

          ffmpeg -user_agent "Mozilla/5.0" -re -i "$VIDEO_URL" \
          -c:v libx264 -preset ultrafast -b:v 2000k \
          -maxrate 2000k -bufsize 4000k -pix_fmt yuv420p -g 50 \
          -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://live-api-s.facebook.com:80/rtmp/$STREAM_KEY"
          
